/**
  * Diseno de interfaz
  *
  * Por Ivan Botero
  */



/** 
  * ELEMENTOS COMUNES 
  */

/**
  * Etiquetas HTML
  */

/* Etiqueta: body */
body{
    background:          url(../img/fondo.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
}

/**
  * Botones 
  */

/**
  * Boton que se encuentre en el menu principal 
  */
.boton_menu_principal{
    width: 170px;
    height: 170px;
    border-radius: 25px;
    text-align: center;
    padding-top: 85%;
    font-size: 15px;
    color: white;
    background-position: center !important;
    background-color: #3D3E4A !important;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que conlleva a algo que tenga relacion al almacenamiento de
  * informacion. Es decir (Actualizacion, Guardado)
  */
.boton_formulario_positivo{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #4CAF50;
    font-size: 20px;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que NO conlleva a algo que tenga relacion al almacenamiento de
  * informacion. Es decir (Cancelacion, Eliminacion, Reestablececimiento)
  */
.boton_formulario_negativo{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #E74C3C;
    font-size: 20px;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que retornara a la pantalla principal, se usara en los formularios
  * que correspondan solo a la busqueda (Consulta de Cliente, Impresion de Rutina)
  */
.boton_formulario_volver{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #399C8E;
    font-size: 20px;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que corresponde a la modificacion de un elemento.
  */
.boton_formulario_modificar{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background: url(../img/icono-modificar.png);
    background-repeat: no-repeat;
    font-size: 20px;
    background-position: center;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que corresponde a la eliminacion de un elemento.
  */
.boton_formulario_eliminar{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background: url(../img/icono-eliminar.png);
    background-repeat: no-repeat;
    font-size: 20px;
    background-position: center;
}

/**
  * Labels 
  */

/** 
  * Label que se encuentra en los formularios al lado del campo de texto
  */
.label_formulario{
    font-size: 25px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #C1C8D2 !important;
}

/**
  * Inputs 
  */

/**
  * Caja de texto que se encuentra en los formularios 
  */
.input_formulario{
    width: 135px;
    height: 25px;
    font-size: larger;
}

/**
  * Selects 
  */

/**
  * Select que se encuentra en los formularios 
  */
.select_formulario{
    width: 260px;
    height: 25px;
    font-size: larger;
}


/**
  * Titulos
  */

/**
  * Titulo que encabeza los formularios
  */
/**PENDIENTE: Alinear titulo en div*/
.titulo_formulario{
    font-size: 50px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #BAB210 !important
}

/**
  * DIVS
  */

/** 
  * Div de carga que aparece en los formularios
  */
.div_cargando{
    display: none;
    position: absolute;
    bottom: 5px;
    left: -465px;
}

/** 
  * Div de carga que aparece en los formularios cuya funcion sea unicamente
  * realizar una consulta y obviamente que en la parte inferior solo haya
  * un boton para "Volver"
  */
.div_cargando_consulta {
    display: none;
    position: absolute;
    bottom: 5px;
    left: -785px;
}

/** 
  * INTERFAZ PRINCIPAL 
  */

/* Contenedor */
#contenedor{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 50em;
    height: 40em;
    margin-top: -20em;
    margin-left: -25em;
    background-color: #203B4D;    
    border-radius: 20px;
}

/* Contenedor de boton en menu principal */
.contenedor_boton_menu_principal{
    padding: 22px 73px;
}

/* Contenedor de titulo en formulario */
.contenedor_titulo_formulario{
    padding-top: 2em;
    padding-left: 14em;
}

/* Contenedor de formulario */
.contenedor_formulario{
    padding-top: 30px;
    padding-left: 30px;
}

/* Contenedor de botones en formulario */
.contenedor_boton_formulario{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Contenedor de boton positivo */
.contenedor_boton_positivo{
    display: table-cell;
    padding: 5px;
}

/* Contenedor de boton negativo */
.contenedor_boton_negativo{
    display: table-cell;
    padding: 5px;
}

/* Contenedor de boton negativo */
.contenedor_boton_volver{
    display: table-cell;
    padding: 5px;
}

/* Panel Izquierdo */
#panel_izquierdo{
    display: table-cell;
}

/* Panel Central */
#panel_central{
    display: table-cell;
    vertical-align: middle;
}

/* Panel Derecho */
#panel_derecho{
    display: table-cell;
}

/* Boton: Registrar Cliente */
#btn_registrar_cliente{
    background: url(../img/icono-registrar-cliente.png);
    background-repeat: no-repeat;
}

/* Boton: Registrar Medidas */
#btn_registrar_medidas{
    background: url(../img/icono-registrar-medidas.png);
    background-repeat: no-repeat;
}

/* Boton: Registrar Servicio */
#btn_registrar_servicio{
    background: url(../img/icono-registrar-servicio.png);
    background-repeat: no-repeat;
}

/* Boton: Imprimir Rutina */
#btn_imprimir_rutina{
    background: url(../img/icono-imprimir-rutina.png);
    background-repeat: no-repeat;
}

/* Boton: Registrar Rutina */
#btn_registrar_rutina{
    background: url(../img/icono-registrar-rutina.png);
    background-repeat: no-repeat;
}

/* Boton: Modificar Rutina */
#btn_modificar_rutina{
    background: url(../img/icono-modificar-rutina.png);
    background-repeat: no-repeat;
}

/* Boton: Consultar Cliente */
#btn_consultar_cliente{
    background: url(../img/icono-consultar-cliente.png);
    background-repeat: no-repeat;
}

/**
  * Formularios
  */

/* Contenedor input en formulario */
.caja_input_formulario{
    display: table-cell;
}

/* Contenedor label en formulario: Registrar Cliente */
#formulario_registro_cliente .caja_label_formulario{
    display: table-cell;
    width: 220px;
}

/* Contenedor label en formulario: Registrar Rutina */
#formulario_registro_rutina .caja_label_formulario{
    display: table-cell;
    width: 120px;
}

/* Contenedor label en formulario: Registrar Medidas */
#formulario_registro_medidas .caja_label_formulario{
    display: table-cell;
    width: 235px;
}

/* Contenedor label en formulario: Modificar Rutina */
#formulario_modificacion_rutina .caja_label_formulario{
    display: table-cell;
    width: 120px;
}

/* Contenedor label en formulario: Registrar Servicio */
#formulario_registro_servicio .caja_label_formulario{
    display: table-cell;
    width: 120px;
}

/**
  * Tabla de resultados
  */

/* Contenedor de la tabla de resultados */
.contenedor_tabla_resultados{
    position: absolute;
    top: 190px;
    left: 30px;
}

/* Tabla de resultados */
#tabla_resultados{
    width: 46%;
    position: fixed;
}

/* Titulo de la barra de encabezado */
#tabla_resultados .encabezado_resultados {
    color: #C9C9C9;
}

/* Fila que contiene el resultado */
#tabla_resultados .fila_resultado {
    color: #56BF71;
}

/**
  * Buscador
  */

/* Contenedor del buscador */
.contenedor_buscador{
    margin-top: 10px;
}

/* Contenedor: Seccion busqueda*/
.contenedor_seccion_busqueda{
    position: absolute;
    right: 0;
    padding-right: 10px;
}

/* Contenedor del campo de busqueda */
.caja_input_busqueda{
    display: table-cell;
    padding-right: 2px;
}

/* Caja de texto de busqueda */
.input_busqueda{
    width: 225px;
    height: 25px;
    font-size: larger;
}

/* Contenedor del boton de busqueda */
.caja_boton_busqueda{
    display: table-cell;
    padding-left: 2px;
}

/* Boton de busqueda */
.boton_busqueda{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #4C89AF;
    font-size: 20px;
}

/* Contenedor: Seccion resultado*/
.contenedor_seccion_resultado{
    padding-left: 30px;
    position: absolute;
    display: none;
}

/* Label donde se presenta el texto "Cliente" en la busqueda*/
.label_resultado_etiqueta{
    font-size: 20px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #C1C8D2 !important;
}

/* Label donde se presenta el nombre del cliente*/
.label_resultado_informacion{
    font-size: 20px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #39C630 !important;
}