/**
  * Diseno de interfaz
  *
  * Por Ivan Botero
  */



/** 
  * ELEMENTOS COMUNES 
  */

/**
  * Etiquetas HTML
  */

/* Etiqueta: body */
body{
    background:          url(../img/fondo.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
}

/**
  * Botones 
  */

/**
  * Boton que se encuentre en el menu principal 
  */
.boton_menu_principal{
    width: 170px;
    height: 170px;
    border-radius: 25px;
    text-align: center;
    padding-top: 85%;
    font-size: 15px;
    color: white;
    background-position: center !important;
    background-color: #3D3E4A !important;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que conlleva a algo que tenga relacion al almacenamiento de
  * informacion. Es decir (Actualizacion, Guardado)
  */
.boton_formulario_positivo{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #4CAF50;
    font-size: 20px;
}

/**
  * Boton que se encuentra en el formulario indicando una accion 
  * que NO conlleva a algo que tenga relacion al almacenamiento de
  * informacion. Es decir (Cancelacion, Eliminacion, Reestablececimiento)
  */
.boton_formulario_negativo{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #E74C3C;
    font-size: 20px;
}

/**
  * Labels 
  */

/** 
  * Label que se encuentra en los formularios al lado del campo de texto
  */
.label_formulario{
    font-size: 25px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #C1C8D2 !important;
}

/**
  * Inputs 
  */

/**
  * Caja de texto que se encuentra en los formularios 
  */
.input_formulario{
    width: 135px;
    height: 25px;
    font-size: larger;
}

/**
  * Selects 
  */

/**
  * Select que se encuentra en los formularios 
  */
.select_formulario{
    width: 135px;
    height: 25px;
    font-size: larger;
}


/**
  * Titulos
  */

/**
  * Titulo que encabeza los formularios
  */
/**PENDIENTE: Alinear titulo en div*/
.titulo_formulario{
    font-size: 50px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #BAB210 !important
}



/** 
  * INTERFAZ PRINCIPAL 
  */

/* Contenedor */
#contenedor{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 50em;
    height: 40em;
    margin-top: -20em;
    margin-left: -25em;
    background-color: #203B4D;    
    border-radius: 20px;
}

/* Contenedor de boton en menu principal */
.contenedor_boton_menu_principal{
    padding: 22px 73px;
}

/* Contenedor de titulo en formulario */
.contenedor_titulo_formulario{
    padding-top: 2em;
    padding-left: 14em;
}

/* Contenedor de formulario */
.contenedor_formulario{
    padding-top: 30px;
    padding-left: 30px;
}

/* Contenedor de botones en formulario */
.contenedor_boton_formulario{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Contenedor de boton positivo */
.contenedor_boton_positivo{
    display: table-cell;
    padding: 5px;
}

/* Contenedor de boton negativo */
.contenedor_boton_negativo{
    display: table-cell;
    padding: 5px;
}

/* Panel Izquierdo */
#panel_izquierdo{
    display: table-cell;
}

/* Panel Central */
#panel_central{
    display: table-cell;
    vertical-align: middle;
}

/* Panel Derecho */
#panel_derecho{
    display: table-cell;
}

/* Boton: Registrar Cliente */
#btn_registrar_cliente{
    background: url(../img/icono-registrar-cliente.png);
    background-repeat: no-repeat;
}

/* Boton: Registrar Medidas */
#btn_registrar_medidas{
    background: url(../img/icono-registrar-medidas.png);
    background-repeat: no-repeat;
}

/* Boton: Registrar Servicio */
#btn_registrar_servicio{
    background: url(../img/icono-registrar-servicio.png);
    background-repeat: no-repeat;
}

/* Boton: Imprimir Rutina */
#btn_imprimir_rutina{
    background: url(../img/icono-imprimir-rutina.png);
    background-repeat: no-repeat;
}

/* Boton: Registrar Rutina */
#btn_registrar_rutina{
    background: url(../img/icono-registrar-rutina.png);
    background-repeat: no-repeat;
}

/* Boton: Modificar Rutina */
#btn_modificar_rutina{
    background: url(../img/icono-modificar-rutina.png);
    background-repeat: no-repeat;
}

/* Boton: Consultar Cliente */
#btn_consultar_cliente{
    background: url(../img/icono-consultar-cliente.png);
    background-repeat: no-repeat;
}

/**
  * Formularios
  */

/* Contenedor label en formulario */
.caja_label_formulario{
    display: table-cell;
    width: 220px;
}

/* Contenedor input en formulario */
.caja_input_formulario{
    display: table-cell;
}

